body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 229, 229);
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

img {
    height: 400px;
    min-width: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    box-shadow: none
}

.loader {
    position: absolute;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #b7b7b7; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .hide {
    display: none;
}

.search-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


input {
    width: calc(85% - 10px);
    border-radius: 10px;
    height: 30px;
    padding: 10px;
    color: blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.search-btn {
    background-color: aliceblue;
    width: 15%;
    height: 55px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

